<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<head th:fragment=“site-head”>
    <meta charset="UTF-8">
    <link rel=“stylesheet” href=“../public/css/styles.css” th:href=“@{/css/styles.css}” />
    <meta th:include=“this :: head” th:remove=“tag”/>
</head>

<body>
<header th:fragment=“site-header”>
    <a href="index.html" th:href="@{/}">Home</a>
    <a href="users/login.html" th:href="@{/users/login}">Login</a>
    <a href="users/register.html" th:href="@{/users/register}">Register</a>

    <div id="logged-in-info">
        <span>Hello, <b>(user)</b></span>
        <form method="post" th:action="@{/users/logout}">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</header>

<footer th:fragment="site-footer">
    &copy; Spring MVC, 2018
</footer>
</body>

</html>